<div class="container">
    <div class="pageTitle">
        | 모바일 컨트롤
    </div>
    <div class="totalBox">총 참석자 수: <span class="total">{{currentUser}}</span>명</div>
    <div class="box">
        <button data-method="endProgram" data-event-type="embeded" data-level="1"
                        class="buttons" type="button" name="button">VOV 종료</button>
        <button class="buttons" type="button"
                    data-method="endProgram" data-event-type="card" data-level="1" type="button" name="button">카드섹션 종료</button>
        <button data-method="startProgram" data-event-type="embeded" data-level="2"
                        data-url="http://211.249.63.207:8060/main/card_ready" class="buttons" type="button" name="button">'사랑한다 사랑해' 카드섹션 준비</button>
        <button data-method="startProgram" data-event-type="card" data-level="2"
                      data-delay="10000"  data-cardmode="LED" data-interval="66"
                     class="buttons" type="button" name="button">'사랑한다 사랑해' 카드섹션 시작</button>
        <button data-method="startProgram" data-event-type="embeded" data-level="1"
                        data-url="http://211.249.63.207:8060/main/vote" class="buttons" type="button" name="button">'엽기사진 콘테스트' 투표 시작</button>
    </div>
</div>
<script src="js/socket.io.js"></script>
<script src="js/card_section.js"></script>