<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="/css/nomalize.css" rel="stylesheet" />
        <link href="/css/admin.css" rel="stylesheet" />
        <script src="/js/jquery311.min.js" type="text/javascript"></script>
        <title>컬투 공연의 품격 :: 오퍼레이팅 시스템</title>
    </head>
    <body>
        <div class="particles" id="particles"></div>
        <img class="loginTitle" src="/img/splash2_logo.png">
        <div class="loginBox">
            <form class="formBox" action="/admin/" method="post">
                <p class="inputBox"><label for="id">ID</label><input id="id" type="text" name="id" /></p>
                <p class="inputBox"><label for="password">PW</label><input id="password" type="password" name="password" /></p>
                <p class="submitButton"><input type="submit" value="로그인"/></p>
            </form>
        </div>
        <footer class="login">Powerd by xSync</footer>
        <script src="/js/particles.min.js" type="text/javascript"></script>
        <script type="text/javascript">
            particlesJS.load('particles', '/js/particles_config.json', function() {
              console.log('callback - particles.js config loaded');
            });

        </script>
    </body>
</html>
