<div class="container">
    <div class="pageTitle">
        | 콘테스트 후보
    </div>
    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>번호</th>
                    <th class="date">일시</th>
                    <th>이름</th>
                    <th>좌석번호</th>
                    <th>다운로드</th>
                </tr>
            </thead>
            <tbody>
                {{#each photos}}
                    <tr>
                        <td>{{number}}</td>
                        <td class="date">{{trimString insertDate}}</td>
                        <td>{{ name }}</td>
                        <td>{{ seatNo }}</td>
                        <td><button type="button" class="btn_download" data-url="{{fileName}}" name="button">다운로드</button></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $(".btn_download").click(function(){
            var fileName = $(this).data('url');
            window.open(
              'http://211.249.63.207:8060/uploads/' + fileName,
              '_blank' // <- This is what makes it open in a new window.
            );
        });
    }); 
</script>

