<div class="container">
    <div class="pageTitle">
        | 푸시 메시지
    </div>
    <div class="box">
        <form class="push" id="push_form">
            <label for="show">공연 선택</label>
            <select id="show" class="" name="">
                <option value="1">12/17 컬투 대구@EXCO 3시</option>
                <option value="2">12/17 컬투 대구@EXCO 7시</option>
                <option value="3">12/23 컬투 서울@세종대 컨벤션 7시</option>
                <option value="4">12/24 컬투 서울@세종대 컨벤션 3시</option>
                <option value="5">12/24 컬투 서울@세종대 컨벤션 7시</option>
                <option value="6">12/25 컬투 서울@세종대 컨벤션 3시</option>
                <option value="7">12/25 컬투 서울@세종대 컨벤션 7시</option>
                <option value="8">12/31 컬투 부산@롯데호텔부산 크리스탈볼룸 3시</option>
                <option value="9">12/31 컬투 부산@롯데호텔부산 크리스탈볼룸 7시</option>
                <option value="all">전체 공연</option>
            </select>
            <input type="text" name="" value="" placeholder="메시지를 입력하세요." id="show_message">
            <input type="submit" name="" value="전송하기"/>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $("#push_form").submit(function(e){
            e.preventDefault();
            var selectData = $("#show").val();
            var message = $("#show_message").val();

            $.get('/api/pushToAudience',
                {'performSeq' : selectData, 
                 'message' :  message }, function(){
                    alert('푸시 전송 완료되었습니다.');
                 });
        });
    });
</script>
