<div class="container">
    <div class="pageTitle">
        | 콘테스트 결과
    </div>
    <!-- <div class="resultBox">
        <form class="push" action="index.html" method="post">
            <label for="show">공연 선택</label>
            <select id="show" class="" name="">
                <option value="">12/3 컬투 광주@김대중컨벤션 3시/7시</option>
                <option value="">12/17 컬투 대구@EXCO 3시/7시</option>
                <option value="">12/23 컬투 서울@세종대 컨벤션 7시</option>
                <option value="">12/24 컬투 서울@세종대 컨벤션 3시/7시</option>
                <option value="">12/25 컬투 서울@세종대 컨벤션 3시/7시</option>
                <option value="">12/31 컬투 부산@롯데호텔부산 크리스탈볼룸 3시/7시</option>
                <option value="">전체 공연</option>
            </select>
        </form>
    </div> -->
    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>번호</th>
                    <th>득표수</th>
                    <th>득표율</th>
                </tr>
            </thead>
            <tbody>
                {{#each results}}
                    <tr>
                        <td>{{number}}</td>
                        <td>{{count}}표</td>
                        <td>{{percent}}</td>
                    </tr>
                {{/each}}

               
            </tbody>
        </table>
    </div>
</div>
