<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link href="/css/nomalize.css" rel="stylesheet" />
        <link href="/css/admin.css" rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />

        <script src="/js/jquery311.min.js" type="text/javascript"></script>

        <title>컬투 공연의 품격 :: 오퍼레이팅 시스템</title>
    </head>
    <body>
        <nav>
            <!-- <img class="adminTitle" src="/img/title_logo.png"/> -->
            <ul class="menuBar">
                <li><a href="/admin/logout">로그아웃</a></li>
                <li><span id="menuButton">menu</span></li>
                <li><a href="control">모바일 컨트롤</a></li>
                <li><a href="push">푸시 메시지</a></li>
                <li><a href="photos">콘테스트 후보</a></li>
                <li><a href="result">콘테스트 결과</a></li>
            </ul>
            <div class="selected">
                <div class="now"><span>{{currentPerformance.name}}</span></div>
                <button id="change" type="button">변경</button>
            </div>
            <div id="selecting" class="selecting">
                <ul>
                    <li data-seq="1" data-name="12/17 대구@EXCO 3시"><span>12/17 대구@EXCO 3시</span></li>
                    <li data-seq="2" data-name="12/17 대구@EXCO 7시"><span>12/17 대구@EXCO 7시</span></li>
                    <li data-seq="3" data-name="12/23 서울@세종대 컨벤션 7시 "><span>12/23 서울@세종대 컨벤션 7시</span></li>
                    <li data-seq="4" data-name="12/24 서울@세종대 컨벤션 3시"><span>12/24 서울@세종대 컨벤션 3시</span></li>
                    <li data-seq="5" data-name="12/24 서울@세종대 컨벤션 7시"><span>12/24 서울@세종대 컨벤션 7시</span></li>
                    <li data-seq="6" data-name="12/25 서울@세종대 컨벤션 3시"><span>12/25 서울@세종대 컨벤션 3시</span></li>
                    <li data-seq="7" data-name="12/25 서울@세종대 컨벤션 7시"><span>12/25 서울@세종대 컨벤션 7시</span></li>
                    <li data-seq="8" data-name="12/31 부산@롯데호텔부산 크리스탈볼룸 3시"><span>12/31 부산@롯데호텔부산 크리스탈볼룸 3시</span></li>
                    <li data-seq="9" data-name="12/31 부산@롯데호텔부산 크리스탈볼룸 7시"><span>12/31 부산@롯데호텔부산 크리스탈볼룸 7시</span></li>
                </ul>
            </div>
        </nav>
        <div class="main">
                {{{body}}}
            <footer>
                ©Copyright All Reserved xSync
            </footer>
        </div>
        <script type="text/javascript">
            $(document).ready(function(){
                $("#selecting ul li").click(function(){
                    var seq = $(this).data('seq');
                    var name = $(this).data('name');
                    location.href = '/admin/changePerformance?seq=' + seq + '&name=' + name;
                });
            });
        </script>
        <script src="/js/admin.js" type="text/javascript"></script>
    </body>
</html>
