<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{name}}</title>
        <link href="/css/nomalize.css" rel="stylesheet" />
        <link href="/css/cultwo.css" rel="stylesheet" />
        <script src="/js/jquery311.min.js" type="text/javascript"></script>
        <script src="/js/ji-cultwo.js" type="text/javascript"></script>
    </head>
    <body class="native_top">
        {{{body}}}
        <script src="/js/common.js" type="text/javascript"></script>
    </body>
</html>
