/**
* Configuration
* for
* Responsice Web
*/

.container {
    margin: 0; padding: 0;
    width: 100%; height: 100%;
}

* {box-sizing: border-box;}

/* Columns for Mobile */
[class*="col-"] {
    width: 100%;
}

/* Columns for PC */
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/**
* Particles Background CSS
*/

div#particles {
    position: fixed;
    background-color: #111;
    width: 100%; height: 100%;
    z-index: -1;
}

/**
* Custom CSS
* for
* the Login Pages
*/

img.loginTitle {
    position: fixed;
    left:50%; top: 20%;
    margin-left: -20vw;
    width: 40vw;
}

div.loginBox {
    position: fixed;
    left: 50%; top: 50%;
    margin-left: -15vw;
    width: 30vw; height: 500px;
}
@media only screen and (max-width: 768px) {
    img.title {
        top: 25%;
        margin-left: -40vw;
        width: 80vw;
    }
    div.loginBox {
        margin-left: -40vw;
        width: 80vw;
    }
}

p.inputBox {
    width: 100%;
    height: 50px;
    background-color: rgba(256, 256, 256, 0.5);
}

p.inputBox label {
    display: inline-block;
    width: 20%; height: 100%;
    text-align: center;
    color: #111;
    font-size: 15px;
    font-weight: 700;
}

p.inputBox input {
    width: 80%; height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
}

p.submitButton {
    width: 100%; height: 50px;
    border: 1px solid #f3f3f3;
    background-color: #f3f3f3;
    transition: 0.5s;
}

p.submitButton input {
    -webkit-appearance: none;
    appearance: none;
    width: 100%; height: 100%;
    background-color: transparent;
    border: none;
    color: #111;
    cursor: pointer;
}

p.submitButton:hover {
    background-color: transparent;
}

p.submitButton:hover input {
    color: #f3f3f3;
}

footer.login {
    position: fixed;
    bottom: 5%; left: 50%;
    margin-left: -150px;
    width: 300px;
    padding: 0;
    color: #f3f3f3;
    text-align: center;
    background-color: transparent;
}

/**
* Custom CSS
* for
* the Admin Pages
*/
img.adminTitle {
    width: 20%;
}

@media only screen and (max-width: 768px){
    img.adminTitle {
        width: 80%;
    }
}

div.main {
    padding-top: 100px;
    background-color: #fff;
}

div.container {
    padding: 3%;
    min-height: 72vh;
}

nav {
    position: fixed;
    width: 100%;
}

nav ul.menuBar {
    list-style-type: none;
    margin: 0;
    padding: 0 15%;
    overflow: hidden;
    background-color: #111;
}

nav ul.menuBar li:first-child{
    float: right;
}

nav ul.menuBar li:nth-child(2){
    display: none;
}

nav ul.menuBar li {
    float: left;
}

nav ul.menuBar li a, nav ul.menuBar li span {
    display: inline-block;
    color: #f3f3f3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    font-weight: 200;
    cursor: pointer;
}

nav ul.menuBar li a:hover, nav ul.menuBar li span:hover {
    background-color: #555;
}

@media only screen and (max-width: 768px){
    nav ul.menuBar li {
        float: none;
        display: none;
    }

    nav ul.menuBar li:nth-child(2) {
        display: block;
    }

    nav ul.menuBar li:first-child {
        display: block;
    }

    nav.active ul.menuBar li {
        display: block;
    }
}

nav div.selected {
    position: relative;
    display: block;
    margin: 0;
    padding: 0 15%;
    overflow: hidden;
    background-color: #333;

    padding: 14px 16px;
    text-align: center;
    color: #f3f3f3;
    font-size: 17px;

    z-index: 10;
}

nav div.selecting ul{
    list-style: none;
    background-color: #111;
    margin: 0 35%;
    padding: 0 20px;
    width: 30%;
    color:#f3f3f3;
}

nav div.selecting li {
    display: block;
    width: 100%;
}

nav div.selecting span {
    display: block;
    padding: 15px;
    border-bottom: 1px solid #f3f3f3;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
}

nav div.selecting li:last-child span {
    border: none;
}

nav div.selecting span:hover {
    background-color: #333;
}

@media only screen and (max-width: 768px) {
    nav div.selecting ul {
        margin: 0;
        width: 100%;
    }
}

nav .now {
    position: relative;
    display: inline-block;
    width: 280px; height: 30px;
    border: 1px solid #777;
    padding: 6px 6px;
    overflow: hidden;
    background-color: #111;
    color: rgb(256, 256, 80);
    vertical-align: middle;
}

nav .now span{
    position: absolute;
    left: 0;
    display: inline-block;
    width: 100%;
    letter-spacing: 1px;
    animation: marquee 3s linear infinite;
    overflow: hidden;
    vertical-align: middle;
    line-height: 30px;
}

@keyframes marquee {
    from { top: -100%; }
    10% {top: 0;}
    90% {top: 0;}
    to { top: 100%; }
}

nav div.selected button {
    -webkit-appearance: none;
    appearance: none;
    margin-left: 10px;
    width: 80px; height: 30px;

    padding: 2px;
    border: 1px solid #f3f3f3;
    background-color: #f3f3f3;
    color: #111;

    transition: 0.5s;
    cursor: pointer;
}

nav div.selected button:hover {
    background-color: transparent;
    color:#f3f3f3;
}

div.selecting {
    position: relative;
    display: none;
    /*transition: transform 1s;*/
    z-index: -1;
}

div.selecting.active {
    display: block;
    animation: float_down 0.5s;
}

@keyframes float_down {
    from {transform: translate(0, -500px);}
    to {transform: translate(0, 0px);}
}

footer {
    padding: 5% 15%;
    background-color: #111;
    color: #f3f3f3;
}

/**
* Admin Default
*/
div.pageTitle {
    margin: 3% 15%;
    color: #111;
    font-size: 45px;
    font-weight: 700;
}

div.box {
    width: 50%;
    margin: 0 15%;
    padding: 10px;
    border: 1px solid #111;
    border-radius: 10px;
}

@media only screen and (max-width: 768px) {
    div.box {
        width: 80%;
        margin: 0 10%;
    }
}

.box button, .box input[type=submit] {
    -webkit-appearance: none;
    appearance: none;
    display: block;
    width: 100%; height: 50px;
    margin: 5px 0;

    border: 1px solid #111;
    background-color: #111;
    color: #f3f3f3;

    transition: 0.5s;
    cursor: pointer;
}

.box button:hover, .box input[type=submit]:hover{
    background-color: transparent;
    color: #111;
}

/**
* Admin
* Control Page
*/
div.pageTitle {

}

div.totalBox {
    width: 50%;
    margin: 0 15%;
    padding: 15px;
}

/**
* Amdin
* Push Page
*/

.push * {
    margin: 10px 0;
}
.push label {
    display: inline-block;
    width: 10%;
    margin-right: 3%;
    text-align: center;
}
.push select {
    width: 86%;
    height: 30px;
    border-radius: 0;
}

.push input[type=text] {
    width: 100%;
    height: 50px;
    outline: none;
}

/**
* Admin
* Photos Page
*/

.table table {
    width: 100%;
    padding: 0 15%;
    text-align: center;
}

.table thead {
    font-size: 20px;
}

.table tbody {
    font-size: 18px;
}

.table thead, thead tr, th {
    border-bottom: 2px solid #111;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 10px;
}


.table button {
    -webkit-appearanc: none;
    appearance: none;
    width: 80%;
    padding: 5px 10px;
    border: 1px solid #111;
    background-color: #111;
    color: #f3f3f3;
    transition: 0.5s;
}

.table button:hover {
    background-color: transparent;
    color: #111;
}

@media only screen and (max-width: 768px) {
    .table table{
        padding: 0 5%;
    }
    .table .date {
        display: none;
    }
}

/**
* Admin
* Result Page
*/

.resultBox {
    width: 100%;
    padding: 0 15%;
}
