/*====================
bg: rgb(32, 32, 32)
text: rgb(234, 191, 122)
box-border: rgb(91, 69, 38);
box-bg: rgb(6, 6, 6)
====================*/
html {
    width: 100%;
    height: 100%;
}

body * {
    margin: 0;
    padding: 0;

}

body {
    position: relative;

    width: 100%;
    height: 100%;

    margin: 0;

    background-color: rgb(32, 32, 32);

    text-align: center;
    color: rgb(234, 191, 122);
    font-size: 4.5vw;
    font-weight: 100;

    box-sizing: border-box;
}

/*====================
  Layout - seat
====================*/
.background {
    width: 100%;
    height: 100%;

    padding: 2vw;

    background-image: url('../img/back_img_left_top.png'), url('../img/back_img_right_top.png'), url('../img/back_img_left_bottom.png'), url('../img/back_img_right_bottom.png');
    background-repeat: no-repeat;
    background-position: left top, right top, left bottom, right bottom;
    background-origin: content-box;
    background-size: 20vw;

    box-sizing: border-box;
}

/*====================
  Layout - main
====================*/
.native_top {
    padding-top: 15%;
}
/*====================
  index
====================*/
.index div:nth-child(even) {
    background-color: rgba(256, 256, 256, 0.1);
}
.index h1 {
    margin-bottom: 10vw;
}

.index h2 {
    font-size: 6vw;
    margin-bottom: 3vw;
}

.index p {
    margin: 0 0 2vw 0;
}

.urlBox {
    display: block;

    width: 85%;

    margin: 5vw auto;
    padding: 3vw;

    border: 0.5vw solid rgb(234, 191, 122);

    font-size: 4vw;

    box-sizing: border-box;
}

.listBox {
    padding: 5vw;
    border: solid rgb(245, 191, 122);
    border-width: 0.5vw 0;
}

.index ul li{
    display: inline-block;
    list-style-type: circle;
}

.index ol li{
    display: inline-block;
    list-style-type: upper-roman;
}

.index select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 25vw;
    height: 7vw;

    line-height: 7vw;

    background: rgba(0, 0, 0, 0.1);
    border: 0.5vw solid rgb(234, 191, 122);
    border-radius: 1vw;

    text-align-last: center;
    color: rgb(234, 191, 122);
    line-height: 5vw;
    font-size: 4vw;
    font-weight: 100;
}

.index span {
    font-size: 4vw;
}

.index input[type="submit"] {
    position: static!important;
    width: 80%;
}

/*====================
  Common Elements
====================*/
.heading {
    display: table;
    position: relative;

    width: 100%;
    height: 30%;

    padding-top: 10vh;

    box-sizing: border-box;
}

.heading_inner {
    display: table-cell;
    width: 100%;
    height: 100%;

    vertical-align: middle;
    text-align: center;
}

.contents {
    display: table;
    position: relative;

    width: 100%;
    height: 45%;

    vertical-align: middle;
    text-align: center;

    font-size: 4.5vw;

    box-sizing: border-box;
}

.contents_inner {
    display: table-cell;

    width: 100%;
    height: 100%;

    vertical-align: middle;
    line-height: 6vw;
}

.button_box {
    position: relative;
    height: 20%;
    box-sizing: border-box;
}

p {
    font-size: 4vw;
    margin: 5vw;
}

img.heading_img {
    width: 70%;
}

button, input[type="submit"] {
    -webkit-appearance:none;
    appearance: none;

    display: inline-block;
    position: absolute;
    bottom: 10vh;

    width: auto;
    height: 9vw;

    padding: 0 4vw;
    margin: 0 auto;

    border: 0.6vw solid rgb(91, 69, 38);
    border-radius: 1vw;
    background-color: rgb(6, 6, 6);

    color: rgb(91, 69, 38);
    line-height: 5vw;
    font-size: 4vw;
    font-weight: 400;

    box-sizing: border-box;
}

button:hover, input[type="submit"]:hover {
    background-color: rgb(82, 82, 82);
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
}

.button_box .short {
    left: 50%;
    width: 28vw;
    margin-left: -12.5vw;
}

.button_box .long {
    position: static;
    width: 61vw;
}

.button_box .pair {
    position: static;
    width: 28vw;
}

/*====================
  seat_input
====================*/
.heading h1{
    margin-top: 2vh;
    font-size: 6.6vw;
    font-weight: 200;
}

.heading p{
    margin: 2vh 0;
    font-size: 4vw;
    line-height: 6vw;
}

.contents .form_div {
    display: inline-block;

    width: 50vw;
    height: 6vw;

    margin: auto;
    margin-bottom: 2vh;
    padding: 0.5vh;

    border-bottom: 0.6vw solid rgb(234, 191, 122);
}

.contents input[type="number"], .contents input[type="tel"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 38vw;
    height: 5vw;

    background-color: transparent;
    border: none;

    text-align: center;
    color: rgb(234, 191, 122);
    font-size: 4vw;
}

.contents select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 38vw;
    height: 5vw;

    background: transparent url("../img/form_select_arrow.png") no-repeat 95% 50%/3vw;
    border: none;
    border-radius: 0px;

    text-align-last: center;
    color: rgb(234, 191, 122);
    line-height: 5vw;
    font-size: 4vw;
    font-weight: 100;
}

.contents label {
    display: inline-block;

    width: 10vw;
    height: 5vw;

    font-size: 4vw;
}
.contents .row_alphabet {

}
.contents .row_number {
    display: none;
}
/*====================
  seat_confirm
====================*/
.conte
nts .confirm_box {
    display: inline-block;
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;

    width: 60%;
    height: 19vw;

    margin: auto;

    border: solid rgb(234, 191, 122);
    border-width: 0.5vw 0 0.5vw 0;

    vertical-align: middle;

    font-size: 7vw;
    line-height: 7vw;
    font-weight: 400;
}

.confirm_box span {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;

    height: 8vw;

    margin: auto;
}

/*====================
  intro
====================*/
.contents_only {
    display: table;
    width: 100%;
    height: 100%;
}

.contents_only_inner {
    display: table-cell;
    width: 100%;
    height: 100%;

    vertical-align: middle;
    text-align: center;
}

.contents_only_inner h1 {
    padding: 5vw 0;

    font-size: 8vw;
    line-height: 10vw;
}

.contents_only_inner p {
    font-size: 4vw;
    line-height: 6vw;
    margin: 5vw 0;
}

.contents_only button {
    bottom: 10vw; left: 50%;
    margin-left: -8vw;
}

/*====================
  xsync_intro
====================*/
.xsync_intro img {
    margin-top: 10vh;
}

.xsync_intro h1 {
    margin: 2vh 0 5vh 0;

    font-size: 8vw;
}

.xsync_intro p {
    margin: 3vh 0;

    font-size: 4vw;
    line-height: 6vw;
}
/*====================
  card_ready
====================*/
.loading_box {
    position: relative;
    display: inline-block;

    width: 50vw;
    height: 50vw;
}
.loading_img {
    display: absolute;
    position: relative;

    width: 10vw;
    height: 10vw;

    background-color: red;

    -webkit-animation-name: loading;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    animation-name: test;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.loading_box h1 {
    font-size: 6vw;
}

@keyframes test {
    0%   { background-color: #FF0000; left: 5vw; transform: rotate(0deg);}
    25%  { background-color: #FFFF00; left: 15vw; transform: rotate(0deg);}
    50%  { background-color: #00FF00; left: 25vw; transform: rotate(0deg);}
    75%  { background-color: #0000FF; left: 35vw; transform: rotate(0deg);}
    100% { background-color: #FF0000; left: 5vw; transform: rotate(360deg);}
}

/*====================
  vote
====================*/
.contents input[type="radio"] {
    display: none;
}
.contents input[type="radio"]+label {
    display: inline-block;

    width: 23vw;
    height: 15vw;

    margin: 3vw;

    border: 0.6vw solid rgb(91, 69, 38);
    border-radius: 1vw;
    background-color: rgb(234, 191, 122);

    color: rgb(32, 32, 32);
    line-height: 15vw;
    font-size: 4.5vw;
    font-weight: 600;

    -webkit-filter: opacity(0.6);
    filter: opacity(0.6);

}

.contents input:checked+label {
    -webkit-filter: opacity(1);
    filter: opacity(1);
}

.contents label p{
    display: block;
}

/*====================
  modal
====================*/
.modal_bg {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;

    background-color: rgba(256, 256, 256, 0.3);
}

.modal_box {
    position: absolute;
    top: 50%; left: 50%;
    margin-top: -30vw; margin-left: -40vw;
    width: 80vw; height: 60vw;

    background-color: rgb(32, 32, 32);
    border: 0.5vw solid rgb(234, 191, 122);
    border-radius: 2vw;
    text-align: center;
}

.modal_text{
    display: table;
    width: 100%; height: 80%;
    padding: 5vw;
    box-sizing: border-box;
    line-height: 8vw;
    vertical-align: middle;
}

.modal_text_inner {
    display: table-cell;
    width: 100%; height: 20%;
    vertical-align: middle;
    font-size: 4.5vw;
}

.modal_buttons {
    width: 100%; height: 30%;
    box-sizing: border-box;
}

.modal_buttons button {
    position: static;
}
