<div class="contents_only xsync_intro">
    <div class="contents_only_inner">
        <div class="loading_box">
            <div class="loading_img">
            </div>
            <h1>
                카드섹션 준비중...
            </h1>
        </div>
    </div>
</div>
<script type="text/javascript">
	var cardSeq = '2';
</script>
<script src="/js/card_ready.js" type="text/javascript"></script>
