<div class="heading">
    <div class="heading_inner">
        <img class="heading_img" src="/img/heading.png" />
        <h1>엽기사진 콘테스트</h1>
    </div>
</div>
<div class="contents">
    <div class="contents_inner">
        <p>
            오늘 공연에서 내 한 몸 바쳐<br/>
            다른 이들을 웃겨보고 싶다! 하는 분들은<br/>
            엽기사진을 보내주세요
        </p>
        <p>
            안 웃기면 선물 안 드립니다
        </p>
        <p>
            대신에 웃기면 선물 엄청 많이 준비했어요!
        </p>
    </div>
</div>
<div class="button_box">
    <button type="button" name="edit">다시입력</button>
    <button type="button" name="confirm">확인</button>
</div>
