<div class="contents_only index">
    <div>
        <h1>&lt;INDEX&gt;</h1>
        <span class="urlBox">
            URL = http://도메인/레이아웃명/페이지명
        </span>
    </div>
    <div class="listBox">
        <h2> 해당 페이지 바로가기 <h2>
        <form action="index.html" method="get">
            <p>
                <span>http://domain/</span>
                <select name="layout">
                    {{#layouts}}
                    <option value={{this}}>{{this}}</option>
                    {{/layouts}}
                </select>
                <span>/</span>
                <select name="page">
                    {{#pages}}
                    <option value={{this}}>{{this}}</option>
                    {{/pages}}
                </select>
            </p>
            <input class="long" type="submit" value="go!" />
        </form>
    </div>
    <div class="listBox">
        <h2>레이아웃 리스트</h2>
        <ul>
            {{#layouts}}
                <li>{{this}} / </li>
            {{/layouts}}
        </ul>
    </div>
    <div class="listBox">
        <h2>페이지 리스트</h2>
        <ol>
            {{#pages}}
                <li>{{this}} / </li>
            {{/pages}}
        </ol>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
    $('form').on('submit', function(e){
        e.preventDefault();
        var layout = $('select[name="layout"]').val(),
            page = $('select[name="page"]').val();
        location.href = 'user/' + layout + '/' + page;
    });
</script>
