<div class="heading">
    <div class="heading_inner">
        <img class="heading_img" src="/img/heading.png" />
        <h1>셀카 보내기</h1>
    </div>
</div>
<div class="contents">
    <div class="contents_inner">
        <p>
            여러분들의 셀카를 인스타그램에 올려주세요.<br/>
            꼭!! ‘#공연의품격‘ 해쉬태그를 달아주세요
        </p>
        <p>
            해쉬태그 달아주신 사진 중에 일부를 뽑아서<br/>
            공연 마지막에 전광판에 띄워 드릴겁니다!
        </p>
        <p>
            참여해주시는 분들 중 10명을 선정하여,<br/>
            컬투치킨 상품권을 드립니다.
        </p>
    </div>
</div>
<div class="button_box">
    <button class="long" type="button" name="edit" onclick="location.href='https://www.instagram.com';">인스타그램에 사진 올리기</button>
</div>
