<div class="contents_only">
    <div class="contents_only_inner">
        <p>
            오늘 공연은 여러분이 만들어 갈거에요<br/>
            컬투는 다만 거들 뿐…
        </p>
        <p>
            우선! 공연 중에 ‘사랑한다 사랑해‘ 라는 곡에서<br/>
            안내에 따라 다같이 앱을 실행해주시면<br/>
            함께 카드섹션을 만들 거에요. 이렇게 말이죠
        </p>
        <img src="/img/intro_pic.png" width="100%" alt="카드섹션 현장사진" />
        <p>
            자, 이제 좌상단의 햄버거 처럼 생긴 버튼을<br/>
            누르면 메뉴가 나옵니다.
        </p>
        <p>
            컬YP설문조사, 엽사 콘테스트, 셀카 이벤트를<br/>
            차례로 참여해주세요.<br/>
            그리고 공연이 끝나면<br/>
            공연 만족도 조사를 부탁드립니다!
        </p>
    </div>
</div>
