<div class="heading">
    <div class="heading_inner">
        <img class="heading_img" src="/img/heading.png" />
        <h1 style="line-height:9.4vw;">입력하신 좌석번호가<br/>맞는지 확인해주세요</h1>
        <br/><br/>
        <p>이제 공연을 제대로 즐길 준비가<br/>다 되신 것 같네요<br/>그럼 확인을 누르고 본격적으로<br/>설명을 드릴게요!</p>
    </div>
</div>
<div class="contents" style="height:20%">
    <div class="confirm_box">
        <span id="seat_no">가 - 1 - 1</span>
    </div>
</div>
<div class="button_box" style="margin-top:18vw;">
    <button class="pair" type="button" name="edit" id="btn_reinsert">다시입력</button>
    <button class="pair" type="button" name="confirm" id="btn_confirm">확인</button>
</div>

<script type="text/javascript">
    bridgeConnected = function(){
        getSeatNo();
    };
</script>