<div class="heading">
    <div class="heading_inner">
        <img class="heading_img" src="/img/heading.png" />
        <h1>좌석을 입력해주세요</h1>
        <p>티켓이랑 달라도 되니깐 앉아 있는<br/>좌석 번호를 입력해주세요. 제발요.</p>
    </div>
</div>
<form class="contents" action="/#" method="post">
    <div class="contents_inner">
        <div class="form_div">
            <label for="seat_section">구역</label>
            <select id="seat_section" name="section">
                <option value=""></option>
                <option value="A">A 구역</option>
                <option value="B">B 구역</option>
                <option value="C">C 구역</option>
                <option value="D">D 구역</option>
                <option value="E">E 구역</option>
                <option value="F">F 구역</option>
                <option value="G">G 구역</option>
                <option value="H">H 구역</option>
                <option value="I">I 구역</option>
                <option value="J">J 구역</option>
                <option value="K">K 구역</option>
                <option value="L">L 구역</option>
            </select>
        </div>
        <div class="form_div">
            <label for="seat_row">열</label>
            <select class="row_alphabet" id="seat_row" name="row">
            </select>
        </div>
        <div class="form_div">
            <label for="seat_number">번호</label>
            <input id="seat_number" name="number" type="tel" pattern="[1-9]" min="0" max="99">
        </div>
    </form>
</div>
<div class="button_box" id="btn_seat_confirm">
    <input class="short" type="submit" value="확인"/>
</div>
<script type="text/javascript">
</script>
