<div class="contents_only">
    <div class="contents_only_inner">
        <h1>공연의 품격을<br/> 200% 즐겨보세요!</h1>
        <p>오늘 공연을 재미있게 즐기려면,<br/>일단! 확인 버튼을 눌러서<br/>좌석을 입력주세요.</p>
        <p>개인정보 도용 이런 거 아니고요.<br/>이거 입력하면 완전 멋있는 거<br/>다 같이 만들 수 있어요.</p>
        <p>그러니까 여러 명이 와서 대표로<br/> 한 명만 어플 깔지 말고<br/>모두 다 깔아주세요.<br/> 제발요<br/>어머니, 아버지 옆에 계시면<br/>좀 도와주세요.<br/>여러분도 조만간 늙어요...<br>제발요<br/><br/><br/></p>
    </div>
    <button type="button" name="button" id="btn_intro_confirm">확인</button>
</div>