<div class="heading">
    <div class="heading_inner">
        <img class="heading_img" src="/img/heading.png" />
        <h1 style="font-size:6.6vw; line-height:10vw; margin-bottom:5vw;">오늘의 BEST 엽기사진을<br/>골라주세요!</h1>
    </div>
</div>
<div class="contents">
    <div class="contents_inner">
        <form action="index.html" method="post">
            <input id="candidate1" type="radio" name="candidate" value="1"/>
            <label for="candidate1">1번</label>
            <input id="candidate2" type="radio" name="candidate" value="2"/>
            <label for="candidate2">2번</label><br/>
            <input id="candidate3" type="radio" name="candidate" value="3"/>
            <label for="candidate3">3번</label>
            <input id="candidate4" type="radio" name="candidate" value="4"/>
            <label for="candidate4">4번</label><br/>
            <input id="candidate5" type="radio" name="candidate" value="5"/>
            <label for="candidate5">5번</label>
            <input id="candidate6" type="radio" name="candidate" value="6"/>
            <label for="candidate6" style="
                display: inline-block;

                width: 23vw;
                height: 11.7vw;

                margin: 2vw 3vw;
                padding-top: 3.2vw;

                vertical-align: middle;

                color: rgb(32, 32, 32);
                font-size: 4vw;
                line-height: 4.5vw;
                font-weight: 700;">이 정도는<br/>엽사 아님</label>
        </form>
    </div>
</div>
<div class="button_box">
    <button class="short" id="vote_complete" type="button" name="edit">투표완료</button>
</div>
<script src="/js/vote.js" type="text/javascript"></script>
