<div class="contents_only xsync_intro">
    <div class="contents_only_inner">
        <img src="/img/xsync_logo.png" alt="엑씽크 로고" width="60%" />
        <h1>
            참여하는 색다른 재미
        </h1>
        <p>
            관객의 객석을 활용해<br/>
            극적인 연출을 원하시나요?<br/>
            <br/>
            관객과의 소통을 극대화한<br/>
            새로운 연출을 해보고 싶으신가요?<br/>
            <br/>
            관객의 스마트폰을 이용하면,<br/>
            기존 연출의 한계를 뛰어넘을 수 있습니다.<br/>
            <br/>
            xSync는 관객의 스마트폰을 활용하여,<br/>
            카드섹션, 투표, 설문, 공지,<br/>
            퀴즈, 자막, 사진 전송 등의<br/>
            기능을 제공합니다.<br/>
            <br/>
            xSync를 통해 특정 공연만의<br/>
            어플리케이션을 만들어보세요.<br/>
            <br/>
            새로운 연출의 가능성을 열어 놓았습니다.<br/>
            <br/>
            저희에 대해 더 많이 알고 싶으시다면,<br/>
        </p>
    </div>
</div>
<div class="button_box">
    <p>
        <button class="long" type="button" name="home" onclick="location.href='http://www.xsync.co/?method=xsyncbrowser'">엑씽크 홈페이지 바로가기</button>
    </p>
    <p>
        <button class="long" type="button" name="blog" onclick="location.href='http://blog.naver.com/xsync/?method=xsyncbrowser'"> 엑씽크 블로그 바로가기 </button>
    </p>
</div>
